# Cigarette and Tobacco Use Prevalence in CA
https://data.ca.gov/dataset/adult-cigarette-and-tobacco-use-prevalence

This data shows us cigarette and tobacco use prevalence in CA! I will look at the data set and then see if I can gain any insights from this information.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import math

In [2]:
# Read in the data set:

cigarette_df = pd.read_csv('../data/Raw/adult_cigarette_use.csv')

In [3]:
cigarette_df

     YEAR                   COMPARISON  GENDER  PERCENT  LOWER95  UPPER95
0    1984  Definition Expanded in 1996    Male     26.9     22.8     31.0
1    1984  Definition Expanded in 1996  Female     23.0     19.7     26.3
2    1984  Definition Expanded in 1996   Total     24.9     22.3     27.5
3    1985  Definition Expanded in 1996    Male     28.2     24.6     31.8
4    1985  Definition Expanded in 1996  Female     25.2     22.1     28.2
..    ...                          ...     ...      ...      ...      ...
100  2017                      Present  Female      7.0      5.8      8.1
101  2017                      Present   Total     10.1      8.8     11.4
102  2018                      Present    Male     12.1     10.3     13.9
103  2018                      Present  Female      7.5      5.7      9.3
104  2018                      Present   Total      9.7      8.5     11.0

[105 rows x 6 columns]

This doesn't show different age groups, only compares cigarette and tobacco use among males and females.

Therefore, since I cannot gain any meaningful patterns about age groups from this data set, I will unfortunately not be moving on with the analysis for this factor! 

Let's move onto the next data_exploration folder.