# Prevalence of Diabetes Among Adults in CA

In this analysis notebook, I will look specifically into differences in prevalence of diabetes across the age groups in the data set.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import math

In [4]:
diabetes_df = pd.read_csv('../data/Cleaned/diabetes_CLEANED.csv')

In [5]:
diabetes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147 entries, 0 to 146
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Geography       147 non-null    object
 1   year            147 non-null    int64
 2   category        147 non-null    object
 3   category_name   147 non-null    object
 4   percent         147 non-null    float64
 5   lower_cl        147 non-null    float64
 6   upper_cl        147 non-null    float64
 7   Standard Error  147 non-null    float64
dtypes: float64(4), int64(1), object(3)
memory usage: 9.3+ KB

In [9]:
age_grouped.columns

Index(['18 to 34 years', '35 to 44 years', '45 to 54 years', '55 to 64 years',
       '65 years and above'],
      dtype='object', name='category_name')

In [6]:
diabetes_df.groupby(['year','category','category_name'])['percent'].mean().to_frame()

                                          percent
year category         category_name
2012 Age              18 to 34 years          1.8
                      35 to 44 years          6.2
                      45 to 54 years          9.7
                      55 to 64 years         17.9
                      65 years and above     20.1
...                                           ...
2018 Race-Ethnicity   Hispanic               12.1
                      White                   8.4
     Sex              Female                 10.3
                      Male                   10.5
     Total population Total population       10.4

[147 rows x 1 columns]

In [7]:
# Creating an age_filter:

age_filter = diabetes_df['category'] == 'Age'

age_diabetes_df = diabetes_df[age_filter]

age_grouped = age_diabetes_df.groupby(['year', 'category_name'])['percent'].sum().unstack()

age_grouped

category_name,18 to 34 years,35 to 44 years,45 to 54 years,55 to 64 years,65 years and above
year,,,,,
2012,1.8,6.2,9.7,17.9,20.1
2013,1.5,5.1,12.0,18.3,20.7
2014,1.6,5.4,10.2,18.2,21.8
2015,1.6,5.5,10.0,17.3,20.5
2016,1.5,4.3,10.9,17.3,24.2
2017,1.2,3.7,8.4,15.9,21.3
2018,4.0,5.1,11.6,17.7,22.4

In [8]:
diabetes_df = age_grouped.mean(axis=0)

diabetes_df

category_name
18 to 34 years         1.885714
35 to 44 years         5.042857
45 to 54 years        10.400000
55 to 64 years        17.514286
65 years and above    21.571429
dtype: float64

### Observations:

* Diabetes increases with age
* Could be another factor in mental health, other health conditions that have a higher likelihood of affecting older individuals 
* Acts as another potential stress factor

In [10]:
# Only highlighting the 55 to 64 year age group:

col_use = ['55 to 64 years']
diabetes = age_grouped[col_use]
diabetes

category_name  55 to 64 years
year
2012                     17.9
2013                     18.3
2014                     18.2
2015                     17.3
2016                     17.3
2017                     15.9
2018                     17.7